<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
   
     <add name="MySqlConnectionString" connectionString=" Server= 108.179.252.18; Database=merca467_db_mercado;Uid=merca467_sistema;Pwd=sistemavalendo; Connect Timeout = 30; "   />
 
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=imgapkstorage;AccountKey=qXQYGzdoJiALbs03PcXxDbuct96Vty8N70sLvhpRO2lwj3La6H/o0YVY070f+ziS2EFzgM5fpe/t49ObgCC8aQ=="/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NFeDistribuicaoDFeSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="NFeDistribuicaoDFeSoap1" />
        <binding name="RecepcaoEventoSoap">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="RecepcaoEventoSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx"
        binding="basicHttpBinding" bindingConfiguration="NFeDistribuicaoDFeSoap"
        contract="NFeDistribuicaoDFe.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap" />
      <endpoint address="https://www.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx"
        binding="basicHttpBinding" bindingConfiguration="RecepcaoEventoSoap"
        contract="NFeRecepcaoEvento.RecepcaoEventoSoap" name="RecepcaoEventoSoap" />
    </client>
  </system.serviceModel>

</configuration>